@import 'variables.css';

:root {
  --button-line-height: var(--control-height);
  --button-font-size: var(--font-size-base);
  --button-padding-horizontal: calc(var(--padding) * 3.5);
  --button-background: var(--muted-background);
  --button-color:  var(--muted-color);

  --button-hover-background: color-mod(var(--button-background) shade(5%));
  --button-hover-color: var(--emphasis-color);

  --button-active-background: color-mod(var(--button-background) shade(10%));
  --button-active-color: var(--emphasis-color);

  --button-primary-background: var(--primary-background);
  --button-primary-color: var(--inverse-color);
  --button-primary-hover-background: color-mod(var(--primary-background) shade(5%));
  --button-primary-hover-color: var(--inverse-color);
  --button-primary-active-background: color-mod(var(--primary-background) shade(10%));
  --button-primary-active-color: var(--inverse-color);

  --button-secondary-background: var(--secondary-background);
  --button-secondary-color: var(--inverse-color);
  --button-secondary-hover-background: color-mod(var(--secondary-background) shade(5%));
  --button-secondary-hover-color: var(--inverse-color);
  --button-secondary-active-background: color-mod(var(--secondary-background) shade(10%));
  --button-secondary-active-color: var(--inverse-color);

}

.button {
  margin: 0;
  border: none;
  overflow: visible;
  font: inherit;
  color: inherit;
  text-transform: none;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 var(--button-padding-horizontal);
  vertical-align: middle;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  text-align: center;
  text-decoration: none;
  border-radius:  2px;
  text-transform:uppercase;
  transition:.25s ease-in-out;
  transition-property:color,background-color,border-color;

  &:not(:disabled) {
    cursor: pointer;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }

  &.default {
    background-color: var(--button-background);
    color: var(--button-color);
    border: 1px solid #e5e5e5;
    &:hover, &:focus {
      background-color: var(--button-hover-background);
      color: var(--button-hover-color);
    }
    &:active, &.active {
      background-color: var(--button-active-background);
      color: var(--button-active-color);
    }
  }

  &.primary {
    background-color: var(--button-primary-background);
    color: var(--button-primary-color);
    &:hover, &:focus {
      background-color: var(--button-primary-hover-background);
      color: var(--inverse-color);
    }
    &:active, &.active {
      background-color: var(--button-primary-active-background);
      color: var(--button-primary-active-color);
    }
  }

  &.secondary {
    background-color: var(--button-secondary-background);
    color: var(--button-secondary-color);
    &:hover, &:focus {
      background-color: var(--button-secondary-hover-background);
      color: var(--inverse-color);
    }
    &:active, &.active {
      background-color: var(--button-secondary-active-background);
      color: var(--button-secondary-active-color);
    }
  }

}
