:root {
  --font-size-base: 14px;
  --font-size-h1: 28px;
  --font-size-h2: 24px;
  --font-size-h3: 20px;
  --font-size-h4: 16px;
  --font-size-h5: 14px;

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.11);
  --shadow-2: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  --shadow-3: 0 5px 14px 0 rgba(0, 0, 0, 0.08);
  --shadow-4: 0 2px 24px 0 rgba(0, 0, 0, 0.07);

  --padding: 8px;

  --control-height: 38px;

  --muted-color: #999;

  --color:                                   #666;
  --emphasis-color:                          #333;
  --muted-color:                             #999;

  --link-color:                              #1e87f0;
  --link-hover-color:                        #0f6ecd;

  --inverse-color:                           #fff;

  --background:                              #fff;

  --muted-background:                        #f8f8f8;
  --primary-background:                      #1e87f0;
  --secondary-background:                    #222;

}

html, body, h1, h2, h3, h4, p, div, ul, ol, li, button, input, textarea {
  font: inherit;
  font-size: 100%;
  font-family: 'Nunito', "Helvetica Neue", Helvetica, sans-serif;
}

